.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 100px;

    &__logo {
        width: 210px;
        height: 68px;
    }

    & ul {
        display: flex;
        list-style-type: none;

        & li {
            margin-left: 100px;
            font-size: 24px;

            &:hover {
                text-decoration-line: underline;
                /* TODO Modifier le :hover pour définir un trait fixe selon la page ou on se situe(Accueil ou About) */
            }
        }

    }
}