.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-about {
    @include flexcenter;
    background-color: darken($banner, 30%);
    position: relative;
    justify-content: center;
    height: 200px;
    margin: $margin-page;
    border-radius: 25px;

    @include mobile {
        margin: $margin-mobile;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    & img {
        position: relative;
        width: 100%;
        height: 200px;
        border-radius: 25px;
        opacity: 70%;
        object-fit: cover;

        @include mobile {
            height: 202px;
            border-radius: 10px;
        }
    }
}

.about {
    @include flexcenter;
    flex-direction: column;
    width: 75%;
    margin-bottom: 50px;

    @include mobile {
        width: 90%;
    }

    &__title {
        @include flexcenter;
        @include deroulant;
        width: 100%;
        padding: 0 25px 0 15px;
        cursor: pointer;

    }

    &__description {
        @include collapseClose;

        &__show {
            @include collapseOpen;
        }
    }

    & h1 {
        font-size: 20px;
        color: $color-white;
        font-weight: 300;
    }

    &__arrow {
        @include arrow;
    }

    & p {
        @include description;
        padding: 0 20px 0 0;

        @include mobile {
            margin-right: 5px;
        }
    }
}