.housing {
    display: flex;
    flex-direction: column;
    margin: $margin-page;
    margin-top: 0;
    height: 100%;
    flex-basis: 1;

    @include mobile {
        margin: $margin-mobile;
        height: auto;
    }

    @include tablette {
        margin: $margin-tablette;
    }

    &__banner {
        display: flex;

        & img {
            width: 100%;
            height: 415px;
            margin-top: -20px;
            object-fit: cover;
            border-radius: 25px;

            @include mobile {
                width: 100%;
                height: 255px;
                margin-top: 10px;
                border-radius: 10px;
            }

            @include tablette {
                height: 350px;
                margin-top: 0;
                margin-bottom: 10px;
            }

        }

        &__arrowleft {
            position: absolute;
            font-size: 100px;
            top: 300px;
            color: $color-white;
            cursor: pointer;

            @include mobile {
                font-size: 50px;
                top: 190px;
            }

            @include tablette {
                font-size: 80px;
                top: 240px;
            }

        }

        &__arrowright {
            position: absolute;
            font-size: 100px;
            right: 100px;
            top: 300px;
            color: $color-white;
            cursor: pointer;

            @include mobile {
                font-size: 50px;
                top: 190px;
                right: 20px;
            }

            @include tablette {
                font-size: 80px;
                top: 240px;
                right: 30px;
            }
        }

        &__index {
            display: flex;
            justify-content: center;
            color: white;
            text-shadow: $banner 1px 1px 3px;
            margin-top: -50px;
            padding-bottom: 32px;

            @include mobile {
                font-size: 14px;
                margin-top: -35px;
                padding-bottom: 19px;
            }
        }

        &__bulletpoint {
            display: flex;
            justify-content: center;
            z-index: 2;

            &__currentindex {
                color: #f1b1b1;

                &__slideindex {
                    color: $color-1;
                }
            }

            & span {
                margin-right: 5px;
                margin-top: -30px;
                cursor: pointer;
                font-size: 22px;

                @include mobile {
                    font-size: 16px;
                    margin-top: -20px;
                }

                @include tablette {
                    margin-top: -35px;
                }
            }

            &__hidden {
                margin-bottom: 26px;

                @include mobile {
                    margin-bottom: 19px;
                }
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        width: 75%;

        @include mobile {
            width: 90%;
            margin-top: 15px;
        }

        @include tablette {
            font-size: 14px;
        }

        & h1,
        p {
            color: $color-1;
            margin-bottom: 5px;
            font-weight: 300;
        }

        & h1 {
            @include mobile {
                font-size: 20px;
            }
        }

        &__picture {
            display: flex;
            background-color: $color-2;
            width: 64px;
            height: 64px;
            border-radius: 40px;
            margin-bottom: 10px;

            @include mobile {
                width: 32px;
                height: 32px;
                margin-bottom: 0;
                margin-left: 10px;
            }

            @include tablette {
                width: 44px;
                height: 44px;
            }
        }

        &__autor {
            display: flex;
            align-items: center;

            & p {
                width: 90px;
            }
        }
    }

    & h3 {
        color: $color-1;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 300;

        @include tablette {
            font-size: 14px;
        }
    }


    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 175px;

        @include mobile {
            flex-direction: row-reverse;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            margin: 10px 0;
        }

        @include tablette {
            flex-direction: row-reverse;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            margin: 5px 0;
        }

        & p {
            color: $color-1;
            margin-bottom: 5px;
            margin-right: 10px;
            padding-left: 19px;
            text-align: right;

            @include mobile {
                margin: 0;
                font-size: 14px;
            }

            @include tablette {
                font-size: 14px;
            }
        }
    }

    &__filterblock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20px;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            height: 15%;
        }

        @include tablette {
            flex-direction: column;
            align-items: flex-start;
            height: 10%;
        }

        &__filter {
            display: flex;
            flex-wrap: wrap;

            & p {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                border-radius: 10px;
                background: $color-1;
                padding: 0 15px;
                height: 20px;
                font-size: 12px;
                color: $color-white;

                @include mobile {
                    border-radius: 5px;
                    margin-bottom: 5px;
                }
            }
        }

        &__details {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: baseline;
            width: 100%;
            margin-top: 20px;

            @include mobile {
                flex-direction: column;
                margin-top: 0;
            }

            @include tablette {
                flex-direction: column;
                margin-top: 0;
                margin-bottom: 20px;
            }

            &__description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 45%;
                margin-bottom: 20px;

                @include mobile {
                    margin-bottom: 30px;
                    width: 100%;
                }

                @include tablette {
                    width: 100%;
                    margin-bottom: 50px;
                }

                &__title {
                    @include flexcenter;
                    @include deroulant;
                    height: 52px;
                    width: 100%;
                    padding: 0 25px 0 15px;
                    cursor: pointer;

                    @include mobile {
                        width: 100%;
                        height: 40px;
                    }

                    & h2 {
                        font-size: 16px;
                        color: $color-white;
                        font-weight: 300;
                    }
                }

                &__text {
                    @include collapseClose;
                    margin-bottom: 0px;
                    height: 0;

                    &__show {
                        @include collapseOpen;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 30px 0 0 0;
                        width: 100%;
                        height: 250px;

                        @include tablette {
                            height: auto;
                            padding-bottom: 20px;
                        }

                        @include mobile {
                            height: auto;
                            padding-bottom: 20px;
                        }

                        & p {
                            @include description;
                            padding: 0 20px 0 20px;
                            font-size: 17px;
                            margin: 0;

                            @include mobile {
                                font-size: 14px;
                            }
                        }

                    }

                    @include mobile {
                        width: 100%
                    }
                }
            }
        }
    }
}

.housing__arrow {
    @include arrow;
}

.star {
    font-size: 24px;
    margin-left: 5px;
    color: $color-1;

    @include mobile {
        font-size: 18px;
    }

    @include tablette {
        font-size: 20px;
    }

    &__grey {
        font-size: 24px;
        margin-left: 5px;
        color: $color-2;

        @include mobile {
            font-size: 18px;
        }

        @include tablette {
            font-size: 20px;
        }
    }
}