.collapse {
    &__description {
        @include collapseClose;

        &__housing {
            @include collapseClose;
            height: 250px;
            transition: all 0.8s linear;

            @include mobile {
                height: 100%;
            }

            @include tablette {
                height: auto;

            }
        }

        &__show {
            @include collapseOpen;
            height: 100%;
            padding: 20px 0;

            @include mobile {
                height: auto;
            }

            @include tablette {
                height: auto;
            }
        }
    }

    &__arrow {
        @include mobile {
            width: 15px;
            height: 9px;
            margin-right: 3px;
        }
    }

    &__arrow {
        @include arrow;

        @include mobile {
            font-size: 20px;
        }
    }
}