.footer {
    position: relative;
    /* TODO Voir si il y a une meilleur méthode d'attacher le footer en bas de page */
    bottom: 0;
    background-color: $color-footer;
    color: $color-white;
    width: 100%;
    height: 210px;

    &__elements {
        @include flexcenter;
        flex-direction: column;
        justify-content: center;
    }

    & img {
        margin: 66px 0;
    }
}