/* Font */
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
}

/* Variable */
$font: "Montserrat", sans-serif;
$color-1: #FF6060;
$color-footer: #000;
$banner: #000;
$color-white: #fff;
$background: #F6F6F6;
$margin-page: 40px 100px;

/* Mixin */
@mixin flexcenter {
    display: flex;
    align-items: center;
}


/* Paramètre généraux */
body {
    font-family: $font;
}

li {
    list-style-type: none;
    color: $color-1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}